body{ 
    border-style: solid ;
  border-color: rgb(49, 49, 49);
 background-color: blueviolet;
border-width: 8px ;
} 
.pers {
   width:max-content;
   padding: 10px;
   border-radius:10px;
   border: solid beige 5px;
   color: #444343;
   background-color: blanchedalmond;
   
}
.your {
  width:max-content;
   padding: 10px;
   border-radius:10px;
   border: solid beige 5px;
   color: #444343;
   background-color: blanchedalmond;
   display: inline-block;
}
form {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}
.name {
    width:max-content;
 padding-left: 10px;
   border-radius:10px;
   border: solid beige 5px;
   color: #444343;
   background-color: blanchedalmond;
   top: 50px;
   left: 40px;
}
select {
    
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    vertical-align: top;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }